<div class="center mw7 ph4 dark-gray">
  <div class="mt7">
    <h2 class="ttu tracked"
      f="6" fw="6" lh="title">
      Basic Buttons
    </h2>

    <a class="br3"
      f="6"
      ph="3" pv="2" mb="2"
      clr="white" bg="purple"
      href="#0">
      Button Text
    </a>
    <a class="br3"
      f="6"
      ph="3" pv="2" mb="2"
      clr="white" bg="light-purple"
      href="#0">
      Button Text
    </a>
    <a class="br3"
      f="6"
      ph="3" pv="2" mb="2"
      clr="white" bg="hot-pink"
      href="#0">
      Button Text
    </a>
    <a class="br3"
      f="6"
      ph="3" pv="2" mb="2"
      clr="white" bg="dark-pink"
      href="#0">
      Button Text
    </a>
  </div>

  <div class="mt7">
    <h2 class="ttu tracked"
      f="6" fw="6" lh="title">
      type scale
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h1 f="headline">Title</h1>
    <h1 f="subheadline">Title</h1>
    <h1 f="1">Title</h1>
    <h1 f="2">Title</h1>
    <h1 f="3">Title</h1>
    <h1 f="4">Title</h1>
    <h1 f="5">Title</h1>
    <h1 f="6">Title</h1>

    <h2 class="ttu tracked" mt="6" mb="4"
      f="6" fw="6" lh="title">
      line height
    </h2>
    <div>No Applied line-height (Default)</div>
    <p><b>Prose Leading (1.5)</b> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Title Leading (1.25)</h1>
    <p lh="solid">Solid Leading (1)</p>
  </div>

  <div class="mt7">
    <h2 class="ttu tracked"
      f="6" fw="6" lh="title">
      spacing
    </h2>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding All</h3>
    <p>pa1, pa2, pa3, pa4, pa5, pa6, pa7</p>
    <div><div class="dib" pa="0" mb="2" bg="black" clr="white">pa0</div></div>
    <div><div class="dib" pa="1" mb="2" bg="black" clr="white">pa1</div></div>
    <div><div class="dib" pa="2" mb="2" bg="black" clr="white">pa2</div></div>
    <div><div class="dib" pa="3" mb="2" bg="black" clr="white">pa3</div></div>
    <div><div class="dib" pa="4" mb="2" bg="black" clr="white">pa4</div></div>
    <div><div class="dib" pa="5" mb="2" bg="black" clr="white">pa5</div></div>
    <div><div class="dib" pa="6" mb="2" bg="black" clr="white">pa6</div></div>
    <div><div class="dib" pa="7" mb="2" bg="black" clr="white">pa7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Horizontal</h3>
    <div><div class="dib" ph="0" mb="2" bg="black" clr="white">ph0</div></div>
    <div><div class="dib" ph="1" mb="2" bg="black" clr="white">ph1 </div></div>
    <div><div class="dib" ph="2" mb="2" bg="black" clr="white"> ph2</div></div>
    <div><div class="dib" ph="3" mb="2" bg="black" clr="white"> ph3</div></div>
    <div><div class="dib" ph="4" mb="2" bg="black" clr="white"> ph4</div></div>
    <div><div class="dib" ph="5" mb="2" bg="black" clr="white"> ph5</div></div>
    <div><div class="dib" ph="6" mb="2" bg="black" clr="white"> ph6</div></div>
    <div><div class="dib" ph="7" mb="2" bg="black" clr="white"> ph7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Vertical</h3>
    <div><div class="dib" pv="0" mb="2" bg="black" clr="white">pv0</div></div>
    <div><div class="dib" pv="1" mb="2" bg="black" clr="white">pv1 </div></div>
    <div><div class="dib" pv="2" mb="2" bg="black" clr="white"> pv2</div></div>
    <div><div class="dib" pv="3" mb="2" bg="black" clr="white"> pv3</div></div>
    <div><div class="dib" pv="4" mb="2" bg="black" clr="white"> pv4</div></div>
    <div><div class="dib" pv="5" mb="2" bg="black" clr="white"> pv5</div></div>
    <div><div class="dib" pv="6" mb="2" bg="black" clr="white"> pv6</div></div>
    <div><div class="dib" pv="7" mb="2" bg="black" clr="white"> pv7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Left</h3>
    <div><div class="dib" pl="0" mb="2" bg="black" clr="white">pl0</div></div>
    <div><div class="dib" pl="1" mb="2" bg="black" clr="white">pl1 </div></div>
    <div><div class="dib" pl="2" mb="2" bg="black" clr="white"> pl2</div></div>
    <div><div class="dib" pl="3" mb="2" bg="black" clr="white"> pl3</div></div>
    <div><div class="dib" pl="4" mb="2" bg="black" clr="white"> pl4</div></div>
    <div><div class="dib" pl="5" mb="2" bg="black" clr="white"> pl5</div></div>
    <div><div class="dib" pl="6" mb="2" bg="black" clr="white"> pl6</div></div>
    <div><div class="dib" pl="7" mb="2" bg="black" clr="white"> pl7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Right</h3>
    <div><div class="dib" pr="0" mb="2" bg="black" clr="white">pr0</div></div>
    <div><div class="dib" pr="1" mb="2" bg="black" clr="white">pr1 </div></div>
    <div><div class="dib" pr="2" mb="2" bg="black" clr="white"> pr2</div></div>
    <div><div class="dib" pr="3" mb="2" bg="black" clr="white"> pr3</div></div>
    <div><div class="dib" pr="4" mb="2" bg="black" clr="white"> pr4</div></div>
    <div><div class="dib" pr="5" mb="2" bg="black" clr="white"> pr5</div></div>
    <div><div class="dib" pr="6" mb="2" bg="black" clr="white"> pr6</div></div>
    <div><div class="dib" pr="7" mb="2" bg="black" clr="white"> pr7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Top</h3>
    <div><div class="dib" pt="0" mb="2" bg="black" clr="white">pt0</div></div>
    <div><div class="dib" pt="1" mb="2" bg="black" clr="white">pt1 </div></div>
    <div><div class="dib" pt="2" mb="2" bg="black" clr="white"> pt2</div></div>
    <div><div class="dib" pt="3" mb="2" bg="black" clr="white"> pt3</div></div>
    <div><div class="dib" pt="4" mb="2" bg="black" clr="white"> pt4</div></div>
    <div><div class="dib" pt="5" mb="2" bg="black" clr="white"> pt5</div></div>
    <div><div class="dib" pt="6" mb="2" bg="black" clr="white"> pt6</div></div>
    <div><div class="dib" pt="7" mb="2" bg="black" clr="white"> pt7</div></div>
    <h3 class="f5 fw4 pt4 ttu tracked">Padding Bottom</h3>
    <div><div class="dib" pt="0" mb="2" bg="black" clr="white">pt0</div></div>
    <div><div class="dib" pb="1" mb="2" bg="black" clr="white">pb1 </div></div>
    <div><div class="dib" pb="2" mb="2" bg="black" clr="white"> pb2</div></div>
    <div><div class="dib" pb="3" mb="2" bg="black" clr="white"> pb3</div></div>
    <div><div class="dib" pb="4" mb="2" bg="black" clr="white"> pb4</div></div>
    <div><div class="dib" pb="5" mb="2" bg="black" clr="white"> pb5</div></div>
    <div><div class="dib" pb="6" mb="2" bg="black" clr="white"> pb6</div></div>
    <div><div class="dib" pb="7" mb="2" bg="black" clr="white"> pb7</div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin All</h3>
    <p>ma1, ma2, ma3, ma4, ma5, ma6, ma7</p>
    <div class="bg-black-10">
      <div class="dib" ma="0" bg="black" clr="white">ma0</div>
    </div>
    <div class="bg-black-20">
      <div class="dib" ma="1" bg="black" clr="white">ma1</div>
    </div>
    <div class="bg-black-30">
      <div class="dib" ma="2" bg="black" clr="white">ma2</div>
    </div>
    <div class="bg-black-40">
      <div class="dib" ma="3" bg="black" clr="white">ma3</div>
    </div>
    <div class="bg-black-50">
      <div class="dib" ma="4" bg="black" clr="white">ma4</div>
    </div>
    <div class="bg-black-60">
      <div class="dib" ma="5" bg="black" clr="white">ma5</div>
    </div>
    <div class="bg-black-70">
      <div class="dib" ma="6" bg="black" clr="white">ma6</div>
    </div>
    <div class="bg-black-80">
      <div class="dib" ma="7" bg="black" clr="white">ma7</div>
    </div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Horizontal</h3>
    <div class="bg-black-10"><div class="dib" mh="0" bg="black" clr="white">mh0</div></div>
    <div class="bg-black-20"><div class="dib" mh="1" bg="black" clr="white">mh1 </div></div>
    <div class="bg-black-30"><div class="dib" mh="2" bg="black" clr="white"> mh2</div></div>
    <div class="bg-black-40"><div class="dib" mh="3" bg="black" clr="white"> mh3</div></div>
    <div class="bg-black-50"><div class="dib" mh="4" bg="black" clr="white"> mh4</div></div>
    <div class="bg-black-60"><div class="dib" mh="5" bg="black" clr="white"> mh5</div></div>
    <div class="bg-black-70"><div class="dib" mh="6" bg="black" clr="white"> mh6</div></div>
    <div class="bg-black-80"><div class="dib" mh="7" bg="black" clr="white"> mh7</div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Vertical</h3>
    <div class="bg-black-10"><div class="dib" mv="0" bg="black" clr="white">mv0</div></div>
    <div class="bg-black-20"><div class="dib" mv="1" bg="black" clr="white">mv1 </div></div>
    <div class="bg-black-30"><div class="dib" mv="2" bg="black" clr="white"> mv2</div></div>
    <div class="bg-black-40"><div class="dib" mv="3" bg="black" clr="white"> mv3</div></div>
    <div class="bg-black-50"><div class="dib" mv="4" bg="black" clr="white"> mv4</div></div>
    <div class="bg-black-60"><div class="dib" mv="5" bg="black" clr="white"> mv5</div></div>
    <div class="bg-black-70"><div class="dib" mv="6" bg="black" clr="white"> mv6</div></div>
    <div class="bg-black-80"><div class="dib" mv="7" bg="black" clr="white"> mv7</div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Left</h3>
    <div class="bg-black-10"><div class="dib" ml="0" bg="black" clr="white">ml0</div></div>
    <div class="bg-black-20"><div class="dib" ml="1" bg="black" clr="white">ml1 </div></div>
    <div class="bg-black-30"><div class="dib" ml="2" bg="black" clr="white"> ml2</div></div>
    <div class="bg-black-40"><div class="dib" ml="3" bg="black" clr="white"> ml3</div></div>
    <div class="bg-black-50"><div class="dib" ml="4" bg="black" clr="white"> ml4</div></div>
    <div class="bg-black-60"><div class="dib" ml="5" bg="black" clr="white"> ml5</div></div>
    <div class="bg-black-70"><div class="dib" ml="6" bg="black" clr="white"> ml6</div></div>
    <div class="bg-black-80"><div class="dib" ml="7" bg="black" clr="white"> ml7</div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Right</h3>
    <div class="bg-black-10"><div class="dib" mr="0" bg="black" clr="white">mr0</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-20"><div class="dib" mr="1" bg="black" clr="white">mr1 </div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-30"><div class="dib" mr="2" bg="black" clr="white"> mr2</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-40"><div class="dib" mr="3" bg="black" clr="white"> mr3</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-50"><div class="dib" mr="4" bg="black" clr="white"> mr4</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-60"><div class="dib" mr="5" bg="black" clr="white"> mr5</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-70"><div class="dib" mr="6" bg="black" clr="white"> mr6</div><div class="dib pa2 bg-black"></div></div>
    <div class="bg-black-80"><div class="dib" mr="7" bg="black" clr="white"> mr7</div><div class="dib pa2 bg-black"></div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Top</h3>
    <div class="bg-black-10"><div class="dib" mt="0" bg="black" clr="white">mt0</div></div>
    <div class="bg-black-20"><div class="dib" mt="1" bg="black" clr="white">mt1 </div></div>
    <div class="bg-black-30"><div class="dib" mt="2" bg="black" clr="white"> mt2</div></div>
    <div class="bg-black-40"><div class="dib" mt="3" bg="black" clr="white"> mt3</div></div>
    <div class="bg-black-50"><div class="dib" mt="4" bg="black" clr="white"> mt4</div></div>
    <div class="bg-black-60"><div class="dib" mt="5" bg="black" clr="white"> mt5</div></div>
    <div class="bg-black-70"><div class="dib" mt="6" bg="black" clr="white"> mt6</div></div>
    <div class="bg-black-80"><div class="dib" mt="7" bg="black" clr="white"> mt7</div></div>

    <h3 class="f5 fw4 pt4 ttu tracked">Margin Bottom</h3>
    <div class="bg-black-10"><div class="dib" mb="0" bg="black" clr="white">mb0</div></div>
    <div class="bg-black-20"><div class="dib" mb="1" bg="black" clr="white">mb1 </div></div>
    <div class="bg-black-30"><div class="dib" mb="2" bg="black" clr="white"> mb2</div></div>
    <div class="bg-black-40"><div class="dib" mb="3" bg="black" clr="white"> mb3</div></div>
    <div class="bg-black-50"><div class="dib" mb="4" bg="black" clr="white"> mb4</div></div>
    <div class="bg-black-60"><div class="dib" mb="5" bg="black" clr="white"> mb5</div></div>
    <div class="bg-black-70"><div class="dib" mb="6" bg="black" clr="white"> mb6</div></div>
    <div class="bg-black-80"><div class="dib" mb="7" bg="black" clr="white"> mb7</div></div>
</div>
